@use "../abstracts/variables/config";

@if config.$sidebar-direction != none {
	.no-sidebar {

		.site {
			display: grid;
			grid-template-columns: auto;
			grid-template-areas:
			"header"
			"main"
			"footer";
		}
	}
}
