$background-body: #fff !default;
$background-screen: #f1f1f1 !default;;
$background-hr: #ccc !default;;
$background-button: #e6e6e6 !default;;
$background-pre: #eee !default;;
$background-ins: #fff9c0 !default;;

$text-screen: #21759b !default;;
$text-input: #666 !default;;
$text-input-focus: #111 !default;;
$link: #4169e1 !default;; //royalblue
$link-visited: #800080 !default;; //purple
$link-hover: #191970 !default;; //midnightblue
$text-main: #404040 !default;;

$border-button: #ccc #ccc #bbb !default;;
$border-button-hover: #ccc #bbb #aaa !default;;
$border-button-focus: #aaa #bbb #bbb !default;;
$border-input: #ccc !default;;
$border-abbr: #666 !default;;
