// stylelint-disable value-keyword-case
$main: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !default;;
// stylelint-enable value-keyword-case
$code: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace !default;;
$pre: "Courier 10 Pitch", courier, monospace !default;;
$line-height-body: 1.5 !default;;
$line-height-pre: 1.6 !default;;
